@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;

  .hero {
    text-align: center;
    padding-bottom: 24px;
    display: block;

    .hero_title1 {
      width: 100%;
      text-align: left;
      margin-left: 20%;
      font-weight: 600;
      padding-bottom: 6px;
    }

    .hero_title2 {
      width: 100%;
      margin-left: 20%;
      padding-bottom: 6px;
    }

    .hero_body {
      padding-bottom: 12px;
    }

    .btn_login {
      background-image: $hero-btn-bg-image;
    }
  }
}
