$base-size: 12px;

// icon gradient
.stop1 {
  stop-color: #4b82c5;
}
.stop2 {
  stop-color:#00CDAC;
}
.stop3 {
  stop-color: #77e190;
}

// gradients
$gradient-btn-orange: linear-gradient(30deg, #EA6362, #FFDEA7);
$gradient-btn-turq: linear-gradient(30deg, #4b82c5, #00CDAC);
$gradient-btn-blue: linear-gradient(30deg, #348F50, #56B4D3);
$gradient-btn-peach: linear-gradient(30deg, #904e95, #e96443);

/*** buttons ***/
$btn-border-color: #201e22;
$btn-border-radius: 100px;
$btn-font-size: 12px;
$btn-font-weight: 550;
$btn-pd: 4px 18px;
$btn-margin: 0 4px;
$btn-text-transform: capitalize;
$btn-filled-text-color-fair: white;
$btn-filled-text-color-dark: #201e22;
$btn-shadow-transparent: 10px 10px 16px 0 rgba(255, 255, 255, 0.15) inset,
-4px -4px 12px 0 rgba(0, 0, 0, .15) inset;
$btn-shadow-filled: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
-8px -8px 12px 0 rgba(0, 0, 0, .25) inset;

/*** header ***/
$header-text-color: white;
$header-bg-color: #18141b;
$header-logo-font: 'Roboto', sans-serif;
$header-logo-font-weight: 550;
$header-btn-top-gradient-logIn: $gradient-btn-turq;
$header-btn-top-gradient-logOut: $gradient-btn-orange;
$header-btn-top-gradient-admin: $gradient-btn-blue;
$header-btn-yourPosts-bg-gradient: $gradient-btn-turq;
$header-btn-login-bg-gradient:$gradient-btn-orange;

/*** hero ***/
$hero-text-color: white;
$hero-btn-border-radius: 100px;
$hero-btn-font-size: 12px;
$hero-btn-font-weight: 550;
$hero-btn-pd: 4px 18px;
$hero-btn-bg-image: $gradient-btn-orange;

/*** homepage ***/
$posts-text-color: white;
$posts-btn-border-color: #201e22;
$posts-btn-border-radius: 100px;
$posts-btn-font-size: 12px;
$posts-btn-font-weight: 550;
$posts-btn-pd: 4px 18px;
$header-btn-createPost-bg-gradient: $gradient-btn-blue;

/*** post summary ***/
$postSum-card-font-color: #3d2a50;
$postSum-card-bg-color: #e5e7ea;
$postSum-card-border-radius: 20px;
$postSum-card-img-border-radius: 20px;
$postSum-card-img-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
$postSum-card-title-font-weight: 550;

/*** post ***/
//$post-card-font-color: #3d2a50;
$post-card-font-color: black;
$post-card-bg-color: #e0e0e0;
$post-card-title-weight: 550;
$post-card-subtitle-weight: 550;
$post-card-border-radius: 20px;
$post-card-box-radius: 20px;
$post-card-box-height: 250px;
$post-card-img-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
$post-card-inner-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
$post-btn-bg-image: $gradient-btn-blue;

/*** post add ***/
$addPost-text-color: white;
$addPost-card-bg-color: #e0e0e0;
$addPost-card-border-radius: 20px;
$addPost-card-pd: 12px;
$addPost-title-font-size: 550;
$addPost-input-border-radius: 100px;
$addPost-input-descr-border-radius: 21px;
$addPost-input-pd: 10px 24px;
$addPost-card-inner-shadow: inset 6px 6px 6px 0 rgba(0, 0, 0, 0.2),
inset -6px -6px 6px 0 rgba(255, 255, 255, 0.5);
$addPost-btn-bg-image: $gradient-btn-orange;

/*** post edit ***/

/*** not found ***/
$nf-text-color: white;
$nf-text-bg-gradient: $gradient-btn-peach;
$nf-btn-bg-image: $gradient-btn-peach;

/*** footer ***/
$footer-pd: 12px;
