@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .post_wrapper {
    width: 100%;
    margin: 0 auto;

    .post_card {
      width: 100%;
      border-radius: $post-card-border-radius;
      padding: 12px;
      background: $post-card-bg-color;
      text-align: center;
      color: $post-card-font-color;

      .card_title {
        font-weight: $post-card-title-weight;
        padding: 14px 0 8px 0;
      }

      .card_content {
        display: flex;
        flex-direction: column;

        .card_header {
          display: flex;
          margin-bottom: 24px;

          .post_image {
            margin: 0 12px 0 4px;
            border-radius: $post-card-box-radius;
            height: $post-card-box-height;
            box-shadow: $post-card-img-shadow;

            .image {
              border-radius: $post-card-box-radius;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .post_details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 4px 0 12px;
            text-align: left;
            border-radius: $post-card-box-radius;
            height: $post-card-box-height;
            box-shadow: $post-card-inner-shadow;

            .post {
              padding-left: 20%;
              line-height: 2;
            }

            span {
              text-transform: uppercase;
            }

            svg {
              font-size: 14px;
              margin-right: 4px;
              vertical-align: text-top;
            }

            .title {
              text-transform: capitalize;
              font-weight: $post-card-subtitle-weight;
            }
            .email svg {
              vertical-align: text-bottom;
            }
          }
        }

        .card_description {
          margin: 0 4px;
          border-radius: $post-card-box-radius;
          text-align: left;

          .content {
            margin-bottom: 24px;
          }

          .updateDate {
            font-size: small;
          }

          .title {
            text-transform: capitalize;
            font-weight: $post-card-subtitle-weight;
          }
        }
      }

      .btn_deletePost {
        background-image: $post-btn-del-bg-img;
        color: $btn-filled-text-color-dark;
        margin: 12px 4px 32px 4px;
      }

      .btn_editPost {
        background-image: $post-btn-edit-bg-img;
        color: $btn-filled-text-color-dark;
        margin: 12px 4px 32px 4px;
      }
    }
  }
}
