@import '../../../styles/settings.scss';

$header-text-color: white;
$header-bg-color: #18141b;
$header-btn-border-color: #201e22;
$header-btn-border-radius: 100px;
$header-btn-font-size: 12px;
$header-btn-font-weight: 550;
$header-btn-pd: 2px 9px;
$header-logo-font: 'Roboto', sans-serif;

.root {
  flex-grow: 1;
  padding-bottom: 12px;

  * {
    background: transparent;
    box-shadow: none;
  }

  .top_buttons {
    padding: 12px 0;
    //background: $header-bg-color;

    button {
      border-radius: $header-btn-border-radius;
      font-size: $header-btn-font-size;
      font-weight: $header-btn-font-weight;
      padding: $header-btn-pd;
      text-transform: capitalize;
      margin: 0 4px;
      border: 1px solid $header-btn-border-color;

      box-shadow: $btn-shadow-transparent;
    }

    .btn_LoggedIn span {
      background: $gradient-btn-turq;
      background-clip: text;
      color: transparent;
    }
    .btn_LoggedOut span {
      background: $gradient-btn-orange;
      background-clip: text;
      color: transparent;
    }
    .btn_Admin span {
      background: $gradient-btn-blue;
      background-clip: text;
      color: transparent;
    }
  }

  .navbar {
    display: flex;
    padding: 0;

    .logo_icon {
      padding: 0;
      margin: 0 18px 0 4px;

      path {
        fill: url(#gradient);
      }
    }

    .logo {
      flex-grow: 1;
      font-weight: $header-btn-font-weight;
      text-transform: uppercase;
      font-family: $header-logo-font;
    }

    .right_buttons {

      * {
        border-radius: $header-btn-border-radius;
        font-size: $header-btn-font-size;
        font-weight: $header-btn-font-weight;
        padding: $header-btn-pd;
        text-transform: capitalize;
      }

      .btn_yourPosts {
        background-image: $gradient-btn-turq;
        box-shadow: $btn-shadow-filled;
        margin: 0 4px;
      }

      .btn_login {
        background-image: $gradient-btn-orange;
        box-shadow: $btn-shadow-filled;
        margin: 0 4px;
      }
    }
  }
}
