@import '../../../styles/settings.scss';

.root {
  flex-grow: 1;
  padding-bottom: 12px;

  * {
    background: transparent;
    box-shadow: none;
  }

  .top_buttons {
    padding: 12px 0;

    .btn_loggedIn span {
      background: $header-btn-top-gradient-logIn;
      background-clip: text;
      color: transparent;
    }
    .btn_loggedOut span {
      background: $header-btn-top-gradient-logOut;
      background-clip: text;
      color: transparent;
    }
    .btn_admin span {
      background: $header-btn-top-gradient-admin;
      background-clip: text;
      color: transparent;
    }
  }

  .navbar {
    display: flex;
    padding: 0;

    .logo_icon {
      padding: 0;
      margin: 0 18px 0 4px;

      path {
        fill: url(#gradient);
      }
    }

    .logo {
      flex-grow: 1;
      font-weight: $header-logo-font-weight;
      text-transform: uppercase;
      font-family: $header-logo-font;
      text-decoration: none;
      color: $header-text-color;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    .btn_yourPosts {
      background-image: $header-btn-yourPosts-bg-gradient;
    }

    .btn_login {
      background-image: $header-btn-login-bg-gradient;
    }
  }
}
