@import '../../../styles/settings.scss';

.root {
  //background: url('https://image.freepik.com/free-photo/starry-night-design_1048-1933.jpg');
  //background: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background: url('https://images.pexels.com/photos/2892619/pexels-photo-2892619.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  height: 100%;
  width: 100%;
  background-size: cover;
  //position: fixed;
  //opacity: 0.9;
}
