@import '../../../styles/settings.scss';

.root {
  background: url('https://images.pexels.com/photos/2892619/pexels-photo-2892619.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  height: 100%;
  width: 100%;
  background-size: cover;
}
