@import '../../../styles/settings.scss';

.root {
  min-height: 400px;
  color: $posts-text-color;
  justify-content: center;

  .posts_wrapper {
    padding: 24px 0;

    .posts_buttons_top {
      width: 100%;
      display: flex;

      .posts_buttons_top_right {
        margin-left: auto;
      }
    }

    .posts {
      margin: 24px auto;
    }
  }

  .btn_createPost {
    background-image: $header-btn-createPost-bg-gradient;
  }
}
