@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .post_wrapper {
    margin: 0 auto;

    .post_card {
      width: 100%;
      border-radius: $addPost-card-border-radius;
      padding: $addPost-card-pd;
      background: $addPost-card-bg-color;
      text-align: center;

      *::before, ::after {
        border: none;
      }

      .post_title {
        font-weight: $addPost-title-font-size;
        padding: 14px 0 8px 0;
      }

      .post_form {
        display: flex;
        flex-direction: column;
      }

      .input {
        margin-bottom: 12px;

        input {
          border-radius: $addPost-input-border-radius;
          padding: $addPost-input-pd;
          box-shadow: $addPost-card-inner-shadow;
        }

        p {
          padding-left: 12px;
        }
      }

      .description {
        box-shadow: $addPost-card-inner-shadow;
        border-radius: $addPost-input-descr-border-radius;
        margin-bottom: 36px;

        textarea {
          padding: $addPost-input-pd;
        }

        p {
          padding-left: 12px;
          margin-bottom: -24px;
        }
      }

      .status, .image, .email, .phone, .location {
        width: 70%;
      }

      .price {
        width: 50%;

        p {
          padding: 0;
        }
      }

      .status {
        width: 40%;

        :first-child:not(span) {
          border-radius: $addPost-input-border-radius;
          padding: $addPost-input-pd;
          box-shadow: $addPost-card-inner-shadow;
          text-align: left;
        }

        svg {
          position: static;
        }
      }

      .btn_addPost {
        background-image: $addPost-btn-bg-image;
        color: $btn-filled-text-color-dark;
        margin: 12px 0 32px 0;
      }
    }
  }
}
